/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* Global button reset  */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  padding: 0;
  margin: 0;

  background: none;
  font: inherit;
  color: inherit;
  line-height: inherit;

  text-align: inherit;
  cursor: pointer;
}
/******************************************
/* TYPOGRAPHY STYLES
/*******************************************/

* {
  font-family: "Zain";
}

h1 {
  font-family: "Zen Dots";
  font-size: 6.5rem;
  color: white;
  text-shadow: rgba(62, 160, 69, 0.692) 0px 0px 24px;
}

h2 {
  font-size: 4rem;
  color: white;
}

/******************************************
/* BASE STYLES
/*******************************************/

button {
  font-family: "Zain";
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #82ff6b;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 22px 2px rgba(255, 255, 255, 0.365);
  transition: 0.5s;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url(/src/assets/images/app-background.gif);
  background-repeat: no-repeat;
  background-size: auto calc(100% - 20px);
  background-position: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.684);
  display: flex;
  justify-content: center;
}

#start-game-wrapper,
#select-mode-wrapper,
#enter-player-names-wrapper,
#enter-player-name-wrapper,
#select-computer-difficulty-wrapper {
  height: 100%;
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#start-game-wrapper button:hover {
  box-shadow: 0px 0px 22px 2px rgba(255, 255, 255, 0.537);
  transition: 0.5s;
  color: rgb(91, 91, 91);
}

#select-mode-button-wrapper,
#select-computer-difficulty-button-wrapper {
  display: flex;
  gap: 50px;
}

.select-mode-button,
.select-computer-difficulty-button {
  width: 200px;
  height: 200px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.select-computer-difficulty-button:nth-child(2) {
  background-color: #ff8080;
}

.select-mode-button i,
.select-computer-difficulty-button i {
  color: rgb(0, 0, 0);
}

.select-mode-button:hover,
.select-computer-difficulty-button:hover {
  transition: 0.5s;
  background-color: #c2feb7;
}

.select-computer-difficulty-button:nth-child(2):hover {
  transition: 0.5s;
  background-color: #feb7b7;
}

.enter-player-name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#form-group-wrapper {
  display: flex;
  gap: 50px;
}

.enter-player-name-form button {
  width: 270px;
  text-align: center;
  background-color: white;
  transition: 0.5s;
}

#enter-player-name-wrapper .enter-player-name-form button {
  width: 100%;
}

.enter-player-name-form button:hover {
  text-align: center;
  background-color: #d5facf;
  transition: 0.5s;
}

.player-name-form-group {
  font-family: "Zain";
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #82ff6b;
  color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 22px 2px rgba(255, 255, 255, 0.365);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

label {
  font-size: 2.5rem;
  border-bottom: 2px solid;
}

.player-name-form-group input {
  width: 80%;
  height: 50px;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 15px;
  border: rgb(0, 0, 0) 1.5px solid;
}

.player-name-form-group input:focus {
  border: rgb(218, 218, 218) 1.5px solid;
  outline: none;
}

.player-name-form-group input:user-invalid {
  border: rgb(255, 0, 0) 1.5px solid;
  outline: none;
}

.player-name-form-group input:user-valid {
  border: rgb(30, 157, 81) 1.5px solid;
  outline: none;
}

#restart-game-wrapper {
  position: absolute;
  gap: 10px;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#restart-game-wrapper i {
  color: white;
  font-size: 2.5rem;
}

#restart-game-wrapper span {
  display: block;
  color: white;
  font-size: 1.2rem;
}

#github-logo-white {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#github-logo-white img {
  width: 50px;
}

/******************************************
/* UTILITY STYLES
/*******************************************/

#place-ships-screen-wrapper {
  height: 100%;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#ship-placement-instructions {
  width: 375px;
  background: rgba(255, 255, 255, 0.165);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-left: #82ff6b solid 6px;
  padding: 15px;
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
}

#ship-placement-instructions h3 {
  font-size: 1.8rem;
  text-decoration: underline;
}

#ship-placement-instructions p {
  font-size: 1.3rem;
  line-height: 1.4rem;
}

#ships-board-wrapper {
  display: flex;
  gap: 100px;
}

#place-ships-wrapper * {
}

#place-ships {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0px 0px 22px 2px rgba(255, 255, 255, 0.254);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-wrap: wrap;
  align-items: self-start;
  gap: 20px;

  padding: 30px;
  width: 410px;
  position: relative;
}

.ship-cell {
  width: 50px;
  height: 50px;

  background-color: #82ff6b;
  /* border: 1px solid rgba(181, 181, 181, 0.267); */
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-flow: dense; /* key */
  box-shadow: 0px 0px 22px 3px rgba(255, 255, 255, 0.414);
  border: 2px solid #82ff6b;
  background: #82ff6b;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  overflow: hidden;
  gap: 2px;
}

.gameboard-cell {
  width: 50px;
  height: 50px;
  background-color: rgb(51, 51, 51);
  transition: 0.2s;
}

.gameboard-cell:hover {
  background-color: #82ff6b;
  transition: 0.2s;
}

.placement-ship {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 10px 0.2px rgba(255, 193, 193, 0.332);
}

.placement-ship:hover {
  cursor: grab;
}

.placement-ship:active {
  cursor: grabbing;
}

#aircraftCarrier {
  grid-column: 3 / span 1;
  grid-row: 3 / span 5;
}

#aircraftCarrier.vertical-ship::after {
  content: "Aircraft Carrier";
  position: absolute;
  transform: rotate(-90deg);
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  background: #ffffff;
  white-space: nowrap;
  padding: 0 8px;
}

#aircraftCarrier.horizontal-ship::after {
  content: "Aircraft Carrier";
  position: absolute;

  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  background: #ffffff;
  white-space: nowrap;
  padding: 0 8px;
}

#battleship::after {
  content: "Battleship";
  position: absolute;
  transform: rotate(-90deg);
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  background: #ffffff;
  white-space: nowrap;
  padding: 0 8px;
}

#cruiser::after {
  content: "Cruiser";
  position: absolute;
  transform: rotate(-90deg);
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  background: #ffffff;
  white-space: nowrap;
  padding: 0 8px;
}

#submarine::after {
  content: "Submarine";
  position: absolute;
  transform: rotate(-90deg);
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  background: #ffffff;
  white-space: nowrap;
  padding: 0 8px;
}

#destroyer::after {
  content: "Destroyer";
  position: absolute;
  transform: rotate(-90deg);
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  background: #ffffff;
  white-space: nowrap;
  padding: 0 8px;
}

/* No borders, just gaps? */
