/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* Global button reset  */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  padding: 0;
  margin: 0;

  background: none;
  font: inherit;
  color: inherit;
  line-height: inherit;

  text-align: inherit;
  cursor: pointer;
}
/******************************************
/* TYPOGRAPHY STYLES
/*******************************************/

* {
  font-family: "Zain";
}

h1 {
  font-family: "Zen Dots";
  font-size: 6.5rem;
  color: white;
  text-shadow: rgba(62, 160, 69, 0.692) 0px 0px 24px;
}

h2 {
  font-size: 4rem;
  color: white;
}

/******************************************
/* BASE STYLES
/*******************************************/

button {
  font-family: "Zain";
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #82ff6b;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 22px 2px rgba(255, 255, 255, 0.365);
  transition: 0.5s;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url(/src/assets/images/app-background.gif);
  background-repeat: no-repeat;
  background-size: auto calc(100% - 20px);
  background-position: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.684);
  display: flex;
  justify-content: center;
}

#start-game-wrapper,
#select-mode-wrapper,
#enter-player-names-wrapper,
#enter-player-name-wrapper {
  height: 100%;
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#start-game-wrapper button:hover {
  box-shadow: 0px 0px 22px 2px rgba(255, 255, 255, 0.537);
  transition: 0.5s;
  color: rgb(91, 91, 91);
}

#select-mode-button-wrapper {
  display: flex;
  gap: 50px;
}

.select-mode-button {
  width: 200px;
  height: 200px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.select-mode-button i {
  color: rgb(0, 0, 0);
}

.select-mode-button:hover {
  transition: 0.5s;
  background-color: #c2feb7;
}

.enter-player-name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#form-group-wrapper {
  display: flex;
  gap: 50px;
}

.enter-player-name-form button {
  width: 270px;
  text-align: center;
  background-color: white;
  transition: 0.5s;
}

#enter-player-name-wrapper .enter-player-name-form button {
  width: 100%;
}

.enter-player-name-form button:hover {
  text-align: center;
  background-color: #d5facf;
  transition: 0.5s;
}

.player-name-form-group {
  font-family: "Zain";
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #82ff6b;
  color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 22px 2px rgba(255, 255, 255, 0.365);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

label {
  font-size: 2.5rem;
  border-bottom: 2px solid;
}

.player-name-form-group input {
  width: 80%;
  height: 50px;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 15px;
  border: rgb(0, 0, 0) 1.5px solid;
}

.player-name-form-group input:focus {
  border: rgb(218, 218, 218) 1.5px solid;
  outline: none;
}

.player-name-form-group input:user-invalid {
  border: rgb(255, 0, 0) 1.5px solid;
  outline: none;
}

.player-name-form-group input:user-valid {
  border: rgb(30, 157, 81) 1.5px solid;
  outline: none;
}

#restart-game-wrapper {
  position: absolute;
  gap: 10px;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#restart-game-wrapper i {
  color: white;
  font-size: 2.5rem;
}

#restart-game-wrapper span {
  display: block;
  color: white;
  font-size: 1.2rem;
}

#github-logo-white {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#github-logo-white img {
  width: 50px;
}

/******************************************
/* UTILITY STYLES
/*******************************************/
